.examque{
  height: auto;
  width: 70%;
  margin:20px auto 10px;
  box-shadow: 0px 0px 20px 1px lightgrey;
}
.examque input{
  cursor: pointer;
}
@media(max-width:650px){
  .subsec{
    font-size: 17px;
  }
}
